RewriteEngine On
# Don't rewrite existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Everything else goes to index.php → public/.htrouter.php
RewriteRule ^(.*)$ index.php [QSA,L]
